@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.cover-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image:linear-gradient(to right,rgba(6, 6, 6,0.97),rgba(6, 6, 6,0.97)), url('../../../utils/coverBg.png');
    @media (max-width:1024px){
        height: 95vh;
        width: 100vw;
        justify-content: center;
    }
    .left{
        width: 500px;
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
        @media (max-width:980px){
            width: 80%;
            margin-top:200px;
        }
        .cover-heading{
            display: flex;
            flex-direction: column;
            @media (max-width:980px) {
                display:inline-block;
                margin-top: 60px;
            }
            h1{
                font-size: 50px;
                font-weight: 400;
                color: #fff;
                letter-spacing: 1.8px;
                @media (max-width:980px){
                    font-size: 65px;
                    line-height: 87px;
                }
            }
            span{
                font-size: 50px;
                font-weight: 600;
                color: #FE9700;
                letter-spacing: 1.8px;
                @media (max-width:980px){
                    font-size: 65px;
                    line-height: 105px;
                    position: relative;
                    top: -97px;
                    left: 173px;
                }
            }
        }
        p{
            color: #fff;
            margin-top: 25px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1px;
            @media (max-width:980px){
                font-size: 27px;
                line-height: 38px;
                display: none;
            }
        }
        .button{
            margin-top: 40px;
            width: 200px;
            height: 30px;
            border-radius: 25px;
            background: transparent linear-gradient(80deg, #FE9600 0%, #F9BC64 100%) 0% 0% no-repeat padding-box;
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            letter-spacing: 1.2px;
            cursor: pointer;
            @media (max-width:980px){
                font-size: 32px;
                width: 330px;
                height: 90px;
                padding: 16px;
                padding-top: 14px;
                border-radius: 15px;
                background:none;
                background-color: #F07867;
                margin-top: 20px;
                position: relative;
                top: -90px;
            }
            &:hover{
                transform: scale(1.1);
                transition: transform 0.5s linear;
                .arrow-on-hover{
                    display: block;
                    transition: transform 0.5s 0.7s linear;
                }
            }
            .arrow-on-hover{
                display: block;
                transform: scaleX(1.7);
                @media (max-width:980px){
                    display: none;
                }
            }
            p{
                font-size: 18px;
                padding: 0%;
                margin:0;
                @media (max-width:980px){
                    font-size: 38px;
                    display: block;
                    text-align: center;
                    padding-left: 20px;
                }
            }
        }
    }
    .right{
        width: 700px;
        margin-top: 100px;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width:980px) {
            margin-top: 5px;
            height: 600px;
            top:-6%;
        }
        .right-image{
            position: relative;
            z-index: 5;
            height: 600px;
            width: 750px;
            img{
                position: relative;
                z-index: 5;
                height: 500px;
                width: 730px;
                border-radius: 4px;
                border-top-right-radius: 50px;
            }
            &::after{
                content: '';
                position: absolute;
                z-index: 2;
                width: 720px;
                height: 500px;
                background-color: #FE9700;
                border-radius: 12px;
                left: -3%;
                bottom: 13.5%;
                animation: float 3s linear infinite;
                @media (max-width:980px){
                    bottom:13%;
                }
            }
        }
        .graph-image{
            position: absolute;
            width: 320px;
            height: 220px;
            z-index: 8px;
            img{
                position: relative;
                z-index: 8;
                bottom: -90%;
                right: -90%;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}
@keyframes float{
    0%{
        transform: translateY(-5px)
    };
    25%{
        transform: translateY(0px)
    };
    50%{
        transform: translateY(5px)
    };
    75%{
        transform: translateY(0px)
    };
    100%{
        transform: translateY(-5px)
    };

}
