@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    &::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb{
        width: 4px;
        height: 4px;
        background-color: #707070;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
}
.hubspot-container{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 35;
    background-color: rgba(0,0,0,0.34);
    .hbspt-form{
        position: relative;
        width: 40%;
        height: 50%;
        top: 50%;
        left: 50%;
        background-color: #ffffff;
        transform: translate(-50%,-50%);
    }
}